<div class= "row">
<div class= "page-header">
<h3> Listing Clients </h3>
</div>
<div class= "col-md-8">

<%= link_to clients_path(format: "xls"), class: "btn btn-success btn-sm pull-left" do %>
<span class= "glyphicon glyphicon-download-alt"></span> Export to Excel
<% end %>

<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>


<% if @clients.empty? %>
     <p>No clients found</p>
<% else %>
<table class= "table table-striped" id= "myTable">
<thead>
<tr>
<th>#</th>
<th>Name</th>
<th>Company</th>
<th>Mobile</th>
<th>Email</th>
<% if current_user.is_admin? %>
<th>User</th>
<% end %>
<th>count project</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
  <% @clients.each_with_index do |client,index| %>
     <tr>
     <td><%= index + 1 %></td>
     <td><%= link_to client.name, client_path(client.id) %></td>
     <td><%= client.company %></td>
     <td><%= client.mobile %></td>
     <td><%= client.email %></td>
     <% if current_user.is_admin? %>
     <td><%= client.user.email %></td>
     <% end %>
     <td><%= client.projects.count %></td>
     <td>
         <%= link_to client_path(client.id) do %>
           <span class= "glyphicon glyphicon-eye-open"></span>
           <% end %>
           </td>
     </tr>
     <% end %>
</tbody>
</table>
<% end %>

<% if can? :create, Client.new %>
<%= link_to "Add client", new_client_path, class: "btn btn-primary" %>
<% end %>

</div>

<div class="col-md-4">
<div class= "page-header">
some statistics goes here
</div>
<% data = {}
current_user.clients.each do |client|
  data[client.name] = client.projects.count
end
%>
<%= data %>

<%= pie_chart(data) %>
<%= column_chart(data) %>
<%= bar_chart(data) %>
</div>
</div>
</div>
